<body style="margin: 0;padding: 0;height: 100%;width: 100%;color: white;font-family: sans-serif;font-size: 3vh;">
    <div class="container" style="margin: 0;padding: 0;">
        <div class="header" style="margin: 0;padding: 2vh 0 0 2vh;height: 10%;width: 100%;background-color: #023047;box-sizing: border-box;border-bottom: 1vh solid #FB8500;">
            GradeserviceTeamA
        </div>
        <div class="body" style="margin: 2vh;padding: 2vh 0 0 2vh;height: 60%;color: black;">
            <h1 style="margin: 0;padding: 0;">Trouble signing in?</h1>
            <div class="bodytext" style="margin: 0;padding: 0;width: 80%;margin-top: 2vh;margin-bottom: 2vh;hyphens: auto;text-align: justify;">Resetting your password is easy. Just press the button below and follow the
                instructions. We'll have
                you up and running in no time.</div>
            <a href="placeholder" target="_blank" style="margin: 0;padding: 0;">
                <button type="button" href="#" style="margin: 0;padding: 1vh;border-radius: 0;border: 0.2vh solid #FB8500;background-color: #023047;color: white;font-weight: bold;">Reset Password</button>
            </a>
        </div>
    </div>

    
</body>