<body>
    <div class="container">
        <div class="header">
            GradeserviceTeamA
        </div>
        <div class="body">
            <h1>Trouble signing in?</h1>
            <div class="bodytext">Resetting your password is easy. Just press the button below and follow the
                instructions. We'll have
                you up and running in no time.</div>
            <a href='placeholder' target='_blank'>
                <button type="button" href="#">Reset Password</button>
            </a>
        </div>
    </div>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        body {
            height: 100%;
            width: 100%;
            color: white;
            font-family: sans-serif;
            font-size: 3vh;
        }

        .header {
            height: 10%;
            width: 100%;
            background-color: #023047;
            box-sizing: border-box;
            border-bottom: 1vh solid #FB8500;
            padding: 2vh 0 0 2vh;
        }

        .body {
            height: 60%;
            color: black;
            padding: 2vh 0 0 2vh;
            margin: 2vh;
        }

        .bodytext {
            width: 80%;
            margin-top: 2vh;
            margin-bottom: 2vh;
            hyphens: auto;
            text-align: justify
        }

        button {
            border-radius: 0;
            border: 0.2vh solid #FB8500;
            background-color: #023047;
            color: white;
            padding: 1vh;
            font-weight: bold;
        }
    </style>
</body>