td, th {
    border: 1px solid #023047;
}

table {
    margin-bottom: 10px;
    width: 100%;
}

.smalHeader {
    background-color: #023047;
    color: white;
    text-align: center;
    font-weight: normal;
    margin: 0px;
}

td p {
 margin: 2px;
}

.bttnTags {
    background-color: gray;
}

.importt {
    margin-bottom: 10px;
    width: 100%;
  }