.home {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 28px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
}

.homeTable {
    width: 100%;
    font-weight: bold;
}

.homeTable td {
    border: 4px solid #FB8500;
    border-top: none;
}

.marginLR5 {
    margin-left: 5px;
    margin-right: 5px;
}

.times {
    width: 15%;
    display: inline-block;
    padding: 2px;
    padding-top: 0px;
}

.lessons {
    display: inline-block;
    width: 85%;
}

.headerLessons {
    marginBottom: 5px;
}