.bttnDecline {
    background-color: red;
}

.bttnImport{
    background-color: green;
}

.reader {
    height: 150px;
}

.sm-block {
    max-height: 500px;
    overflow: auto;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

.sm-block::-webkit-scrollbar {display:none;}

.verticalMid {
    vertical-align: middle;
    margin-bottom: 10px;
    text-align: start;
}

.import {
    padding: 0px;
    margin: auto;
    width: 95%;
}

.import li:hover {
    background-color: #003853;
}

.import li li:hover {
    background-color: #004466;
}

.labels {
    background-color: transparent;
    text-align: left;
}

.inputPP {
    width: 100%;
}

.green {
    margin-top: 10px;
    background-color: green;
}

.trans {
    background-color: transparent;
    margin: 0px;
    height: 100%;
    width: 10%;
}

.trans:hover {
    background-color: transparent;
}

.roundUl {
    background-color: transparent;
}

.roundLi {
    background-color: transparent;
}

.course {
    border-right: none;
    background-color: white;
    border-radius: 25px 0px 0px 25px;
    border: 2px solid white;
    color: #023047;
    width: 20%;
}

.middle {
    border-left: none;
    border-right: none;
    border: 2px solid white;
    width: 70%;
}

.muell {
    height: 100%;
    width: 100%;
    color: #023047;
}
