.login {
    height: 100vh; /* Magic here */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
    background-position: center;
    background-size: cover;
    background-image: url("../data/login-background.png");
}

.bttnForgot {
    margin-left: auto;
    margin-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 10px;
    color: #FB8500;
    background-color: transparent;
    border: none;
    text-decoration: underline;
}

.bttnForgot:hover {
    margin-left: auto;
    background-color: #FB8500;
    color: white;
    border-radius: 20px;
    border-color: transparent;
}

.bttnBackForgot {
    width: 100%;
}

.noMarginBottom {
    margin-bottom: 2px;
  }

.bttnRegister {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    background-color: white;
    color: #023047;
    border-radius: 20px;
    border-color: #023047;
}

.bttnRegister:hover {
    margin-left: auto;
    background-color: #FB8500;
    color: white;
    border-radius: 20px;
    border-color: transparent;
}

.bttnLogin {
    background-color: #FB8500;
    width: 100%;
}

.inputField::placeholder {
    color: white;
    opacity: 1;
}

.inputFields::placeholder {
    color: white;
    opacity: 1;
}

.loginForm {
    background-image: url("../data/form-background.png");
    padding: 30px;
    padding-bottom: 5px;
    box-shadow: 0px 0px 10px black;
    background-position: center;
    background-size: cover;
}

.registerForm {
    background-image: url("../data/register-background.png");
}

.logo {
    width: 200px;
    height: 200px;
}

.logoEnv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginheader {
    color: white;
}

.bttnBack {
    background-color: transparent;
    font-weight: normal;
    border: 2px solid white;
    width: 100%;
    cursor: crosshair;
}

.nomargin {
    margin-bottom: 0px;
}

.bttnReg {
    width: 100%;
    border: 2px solid #023047;
}

.username {
    margin-bottom: 4px;
    width: 100%;
}

.password {
    width: 85%;
    border-radius: 20px 0px 0px 20px;
}

.inline {
    display: inline-block;
}

.bttnEye {
    margin: 0px;
    width: 15%;
    box-shadow: none;
    background-color: #8ECAE6;
    color: #023047;
    border-radius: 0px 20px 20px 0px;
}

.bttnEye:hover {
    color: #FB8500;
    background-color: #8ECAE6;
}

.valid-feedback {
    margin: 0px;
    margin-bottom: 2px;
}

.invalid-feedback {
    margin: 0px;
    margin-bottom: 2px;
}