.bttnList {
    width: 40px;
    margin-right: 3px;
    box-shadow: none;
}

.grid-container {
    background-color: white;
}

.state {
    display: table-cell;
    width: 50%;
}


.bttnAdd {
    background-color: green;
    width: 100%;
    margin-top: 0px;
    border-radius: 0px 0px 25px 25px;
    box-shadow: none;
}

.bttnAdd:hover {
    color: green;
}

.inputFieldPeriod {
    width: 70%;
    margin-bottom: 5px;
    padding-right: 5px;
    background-color: white;
    border-color: #FB8500;
    color: black;
    border: 2px solid #FB8500;
}

.inputFieldPeriod:focus {
    outline-width: 0;
}

.inputFieldPeriod::placeholder {
    color: black;
    opacity: 1;
}

.fat {
    font-weight: bold;
    color: black;
    background-color: white;
    padding: 5px;
    width: 30%;
    border-right: none;
}

.bttnUpAdd {
    width: 48%;
    margin-right: 4%;
    margin-top: 5px;
}

.bttnDelete {
    width: 48%;
    background-color: red;
}

.bttnDelete:hover {
    color: red;
}


select {
    border-radius: 25px;
    border: 2px solid #FB8500;
    background-color: white;
    color: black;
}

select:focus {
  outline-width: 0;
}

option {
    color: #FB8500;
}

.search {
    width: 90%;
    border: 2px solid #023047;
    background-color: white;
    color: black;
    margin: 0px;
    border-right: none;
    border-radius: 25px 0px 0px 0px;
}

.bttnSearch {
    width: 10%;
    box-shadow: none;
    border: 2px solid #023047;
    background-color: white;
    color: #FB8500;
    border-left: none;
    border-radius: 0px 25px 0px 0px;
}

.bttnSearch:hover {
    box-shadow: none;
    border: 2px solid #023047;
    background-color: white;
    color: #FB8500;
    border-left: none;
    border-radius: 0px 25px 0px 0px;
}

.bttnFilter {
    width: 10%;
    box-shadow: none;
    padding: 10px;
    border: 3px solid #FB8500;
    border-left: none;
    border-radius: 0px;
    background-color: #023047;
}

.bttnOK {
    background-color: red;
    width: 100px;
    border: none;
}

.bttnOK:hover {
    background-color: grey;
    color: red;
    width: 100px;
    border: none;
}

.bttnClose {
    background-color: grey;
    width: 100px;
    border: none;
}

.bttnClose:hover {
    background-color: black;
    color: grey;
    width: 100px;
}

.modal {
    display: block;
    background-color: rgba(255,255,255,0.5);
}

.header {
}

.myLi {
    padding: 0px;
  display: flex;
  order: 2;
  flex: 1;
  flex-direction: row;
  border-radius: 5px;
}

.myLi:first-child {
    border-radius: 5px;
}
  
.myLi:last-child {
    border-radius: 5px;
}
  
.cursordefault{
    cursor: default;
}

.cont {
    display: flex;
    flex: 1;
    flex-direction: row;

}

li::selection {
  background-color: #FB8500;
}