.inputFieldPasword {
    border-radius: 25px 0px 0px 25px;
    border: 2px solid #FB8500;
    background-color: white;
    color: black;
}

.inputFieldPaswordRP {
    background-color: lightgray;
}

.bttnEyeUser {
    border: 2px solid #FB8500;
}