.App {
  text-align: center;
}

.bttn {
  border-radius: 25px;
  border: none;
  color: white;
  width: 100%;
  font-weight: bold;
  padding: 5px;
  background-color: #FB8500;
}

.bttn:hover {
  background-color: #023047;
  color: #FB8500;
  border-color: #FB8500;
}

.inputField {
    background-color: #8ECAE6;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: bold;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.inputFields {
  background-color: #8ECAE6;
  border-radius: 25px;
  border: none;
  color: white;
  font-weight: bold;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
}

.inputField:focus {
  outline-width: 0;
}

.inputFields:focus {
  outline-width: 0;
}

.is-invalid {
  border: 2px solid red;
}

.is-valid {
  border: 2px solid green;
}

.red {
  background-color: red;
}

ul .import{
    list-style-type: none;
    width: 100%;
    display: table;
    margin-bottom: 0px;
  }
  
  li .import{
    background-color:  #ffffff;
    color: white;
    height: 100%; 
     width:100%;
    /* justify-content: center; */
    align-items: center;
    /* display: table-row; */
    /* padding-top: 20px; */
    text-align: center;
    border-bottom: 1px solid #8ECAE6;
  }

ul {
  list-style-type: none;
  padding: 0px;
  width: 100%;
  display: table;
  margin: 0px;
}

li {
  background-color:  #023047;
  color: white;
  height: 40px;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  display: table-row;
  padding-top: 20px;
  text-align: center;
  margin-bottom: 2px;
  margin-top: 2px;
}

li:hover {
  background-color:  #8ECAE6;
  cursor:pointer;
}

li::selection {
  background-color:  red;
}

select {
    background-color: #023047;
    color: white;
    border: 1px solid #8ECAE6;
    border-radius: 25px;
    padding: 5px;
    padding-bottom: 6px;
}

.header {
  border: 3px solid #FB8500;
  background-color: #023047;
  color: white;
  width: 100%;
  margin-bottom: 5px;
  text-align: center;
  font-weight: bold;
  padding: 10px;
}

h1 {
  background-color:  #023047;
  color: white;
  padding-bottom: 10px;
  border-bottom: 5px solid #FB8500;
}

.inline {
  display: inline-block;
}

.inline70 {
  width: 70%;
  display: inline-block;
}

.inline10 {
  width: 10%;
  display: inline-block;
}

.inline30 {
  width: 30%;
  display: inline-block;
}

.inline40 {
  width: 40%;
  margin-left: 5%;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-right: 5%;
  display: inline-block;
}

.inline50 {
  width: 50%;
  display: inline-block;
}

.inline100 {
  width: 100%;
  display: inline-block;
}

.noMargin {
  margin: 0px;
}

.block {
  max-height: 60%;
  overflow: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;
}

.block::-webkit-scrollbar {display:none;}

.bttnTab {
  background-color: lightgray;
  border: 2px solid darkgrey;
  color: #023047;
  margin-bottom: 4px;
}

.round {
  border-radius: 25px;
  background-color: #023047;
}

.inputC {
  margin-left: 20px;
  margin-right: 10px;
  font-weight: bold;
}

.checkB {
  border: 2px solid black;
  border-radius: 25px;
  padding-top: 8px;
  padding-left: 30px;
  padding-right: 10px;
  margin-bottom: 5px;
}

.noMarginBottom {
  margin-bottom: 0px;
}

.noPadding {
  padding: 0px;
}

body {
  overflow: hidden;
}